<div class="home-container">
  <!-- Header Section -->
  <header>
    <a href="//gmial.com">Gmail</a>
    <a href="//google.com/images">Images</a>
    <mat-icon>apps</mat-icon>
    <button>Sign in</button>
  </header>

  <!-- Main Section -->
  <main>
    <img src="assets/google-logo-4.png" alt="logo" />
    <div class="search-box">
      <form #form="ngForm" (ngSubmit)="search(form)">
        <app-search rightIcon="false"></app-search>
      </form>
    </div>

    <div class="g-buttons">
      <button type="button" (click)="search(form)">Google Search</button>
      <button>I'm Feeling Lucky</button>
    </div>
  </main>
</div>
